<!-- <dialog> -->

<!-- create dialog component with the div with dialog container class -->
<!-- <div class="dialogContainer"> -->
<header>
  <h2>Add Column</h2>

  <button (click)="closeModal()">
    <span class="material-symbols-outlined closeIcon" (click)="closeModal()">
      close
    </span>
  </button>
</header>

<form [formGroup]="newColumnForm">
  <app-label-input>
    <label for="colNameInput">Column Name</label>
    <input
      type="text"
      id="colNameInput"
      name="colNameInput"
      [formControl]="newColumnForm.controls.columnName"
    />
    @if(columnIsInvalid) {
    <p>Error: Enter a valid name.</p>
    }
  </app-label-input>

  @if(addTasks) {
  <div class="formTasksSection">
    @if(tasks.length > 0) {
    <p>Tasks</p>
    }

    <div class="colFormTasks" formArrayName="tasks">
      @for(task of tasks.controls; track $index) {
      <div class="addColumnTask" [formGroup]="getFormGroup($index)">
        <input type="text" formControlName="taskname" />
        <select
          name="prioritySelect"
          id="prioritySelect"
          formControlName="priority"
        >
          <option value="High">High</option>
          <option value="Medium">Medium</option>
          <option value="Low">Low</option>
        </select>

        <input
          type="date"
          name="targetDate"
          id="targetDate"
          formControlName="targetDate"
        />

        <button class="removeTaskBtn" (click)="deleteTask($index)">
          <span class="material-symbols-outlined"> remove </span>
        </button>
      </div>

      }
    </div>

    <button class="addTaskBtn" (click)="addTaskToFormArray()">
      <span class="material-symbols-outlined"> add_circle </span>
      Add Task
    </button>
  </div>

  }

  <button class="mainBtn" (click)="submitNewColumn()">Add Column</button>
</form>
<!-- </div> -->

<!-- </dialog> -->

<!-- <p>form works</p> -->
