dialog {
  background-color: var(--bg-main);
  border: none;
  border-radius: var(--border-radius);
  color: var(--font-main);
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  min-width: 520px !important;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;

  .labelInputContainer p {
    color: var(--font-gray);
  }

  .colFormTasks {
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

    .addColumnTask {
      align-items: center;
      display: flex;
      gap: 1.25rem;
      width: 100%;

      .taskDetails,
      .priorityDateContainer {
        width: 100%;
      }

      .taskDetails {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      .priorityDateContainer {
        display: flex;
        gap: 1rem;
      }

      input,
      select {
        background-color: var(--bg-secondary);
        border-radius: 8px;
        border: none;
        color: var(--font-secondary);
        height: 50px;

        width: 100%;
      }

      .removeTaskBtn {
        align-items: center;
        background-color: transparent;
        color: var(--font-gray);
        cursor: pointer;
        display: flex;
        justify-content: center;

        &:hover {
          color: var(--font-gray-hover);
        }
      }
    }
  }
}

.addTaskBtn {
  align-items: center;
  align-self: flex-end;
  cursor: pointer;
  display: flex;
  color: var(--font-gray);
  cursor: pointer;
  display: flex;
  font-size: 0.95rem;
  gap: 0.85em;
  margin-top: 1rem;

  &:hover {
    color: var(--font-gray-hover);
  }

  & > * {
    cursor: pointer;
  }
}

.formTasksSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;

  p {
    color: var(--font-gray);
  }
}

.addTaskBtn {
  align-items: center;
  justify-self: flex-end;
  background-color: transparent;
  // background-color: blue;
  color: var(--font-gray);
  cursor: pointer;
  display: flex;
  gap: 0.4em;

  &:hover {
    color: var(--font-gray-hover);
  }
}
