<!-- <dialog> -->

<!-- create dialog component with the div with dialog container class -->
<!-- <div class="dialogContainer"> -->
<header>
  <h2>Add Column</h2>

  <button (click)="closeModal()">
    <span class="material-symbols-outlined closeIcon" (click)="closeModal()">
      close
    </span>
  </button>
</header>

<form [formGroup]="newColumnForm" (ngSubmit)="submitNewColumn()">
  <app-label-input>
    <label for="colNameInput">Column Name</label>
    <input
      type="text"
      id="colNameInput"
      name="colNameInput"
      [formControl]="newColumnForm.controls.columnName"
    />
    @if(columnIsInvalid) {
    <p>Error: Enter a valid name.</p>
    }
  </app-label-input>

  @if(addTasks) {
  <div class="labelInputContainer">
    @if(tasks.length > 0) {
    <p>Tasks</p>
    }

    <div class="colFormTasks" formArrayName="tasks">
      @for(task of tasks.controls; track $index) {
      <div class="addColumnTask" [formGroup]="getFormGroup($index)">
        <div class="taskDetails">
          <input type="text" formControlName="taskname" />

          <div class="priorityDateContainer">
            <select
              name="prioritySelect"
              id="prioritySelect"
              formControlName="priority"
            >
              <option value="High">High</option>
              <option value="Medium">Medium</option>
              <option value="Low">Low</option>
            </select>

            <input
              type="date"
              name="targetDate"
              id="targetDate"
              formControlName="targetDate"
            />
          </div>
        </div>

        <button
          class="removeTaskBtn"
          type="button"
          (click)="deleteTask($index)"
        >
          <span class="material-symbols-outlined"> remove </span>
        </button>
      </div>

      }
    </div>

    <button class="addTaskBtn" type="button" (click)="addTaskToFormArray()">
      <span class="material-symbols-outlined"> add_circle </span>
      Add Task
    </button>
  </div>

  }

  <button class="mainBtn" [disabled]="!newColumnForm.valid">Add Column</button>
</form>
