<app-page-container>
  <app-page-back-button path="/" btnText="Home" />

  <div class="content">
    <h1>New Project Details</h1>

    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="labelInputContainer">
        <label for="projectName">Project Name</label>
        <input
          type="text"
          id="projectName"
          name="projectName"
          ngModel
          #nameInput="ngModel"
          required
        />
      </div>

      <div class="formActions">
        <button class="cancelBtn" routerLink="/" type="button">Cancel</button>
        <button class="mainBtn formSubmitBtn" [disabled]="!nameInput.valid">
          Create
        </button>
      </div>
    </form>
  </div>
</app-page-container>

<!-- 
  
     template screen (blank or add some columns) 
     final screen allows user to give name to board

-->
