<header>
  <h2>Edit Column</h2>
  <button class="actionBtn" (click)="closeModal()">
    <span class="material-symbols-outlined icon closeIcon"> close </span>
  </button>
</header>

<form [formGroup]="editColumnForm" (ngSubmit)="editColumn()">
  <div class="labelInputContainer">
    <label for="updatedName">Column Name</label>

    <input
      type="text"
      id="updatedName"
      name="updatedName"
      required
      formControlName="updatedName"
    />
  </div>

  <div class="btnsContainer">
    <button class="mainBtn deleteBtn" [disabled]="!editColumnForm.valid">
      Update Column
    </button>
    <button class="mainBtn deleteBtn" (click)="deleteColumn()">
      Delete Column
    </button>
  </div>
</form>
