<div class="column">
  <header class="columnHeader">
    <div class="columnNameDiv">
      <p class="columnName">
        {{ column.colName }}
      </p>
    </div>

    <div class="columnActions">
      <app-open-task-icon-button colId="{{ column.id }}" />

      <app-column-options-icon-button
        (toggleOptions)="toggleColumnOptionsOpen()"
      />

      @if(column.tasks && column.tasks.length > 0) {

      <app-column-expand-icon-button
        [columnExpanded]="columnExpanded()"
        (toggleColumnExpanded)="toggleColumnExpanded()"
      />

      } @if(columnOptionsOpen()) {

      <div class="columnOptions">
        <button (click)="openEditColumn()">
          <span class="material-symbols-outlined"> edit </span>
          Edit
        </button>

        <button (click)="deleteColumn(column.id)">
          <span class="material-symbols-outlined"> delete </span>
          Delete
        </button>
      </div>

      }
    </div>
  </header>

  @if(column.tasks !== undefined && column.tasks.length > 0 && columnExpanded())
  {

  <div class="tasksContainer">
    @for(task of column.tasks; track task.id; let idx = $index) {

    <app-task [task]="task" [colId]="column.id" [taskIdx]="idx" />

    }
  </div>
  }
</div>
