<app-page-container>
  <app-header-justify-between>
    <h1>{{ board.name }}</h1>

    <div class="boardActions">
      <button class="mainBtn" (click)="openAddColumnModal()">Add Column</button>

      <button class="ellipsisIcon" (click)="openEditBoardModal()">
        <span class="material-symbols-outlined"> more_vert </span>
      </button>
    </div>
  </app-header-justify-between>

  @if(board.columnsArr && board.columnsArr.length > 0) {

  <div class="tabsColumnsContainer">
    <app-board-tabs
      [selectedTab]="selectedTab"
      (setTab)="changeSelectedTab($event)"
    />

    <app-columns [selectedTab]="selectedTab" [columns]="board.columnsArr" />
  </div>

  } @else {

  <p>no items</p>

  }
</app-page-container>
