h1 {
  font-size: 1.75rem;
}

.boardActions {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.tabsColumnsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

.emptyState {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  text-align: center;
  width: 70%;

  p:first-of-type {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--font-secondary);
  }

  p:last-of-type {
    color: var(--font-gray);
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 0.5rem;

    width: 90%;
  }
}

@media (max-width: 600px) {
  .emptyState {
    width: 100%;
  }
}
