.boardsContainer {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));

  .boardCard {
    background-color: var(--bg-secondary);
    border-radius: 8px;
    color: var(--font-secondary);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;

    &:hover {
      background-color: var(--bg-secondary-hover);
    }

    .boardName {
      font-size: 1.15rem;
      font-weight: 500;
    }

    .boardDetails {
      display: flex;

      justify-content: space-between;
      margin-top: 1.25rem;

      div {
        align-items: center;
        color: var(--font-gray);
        display: flex;
        gap: 0.4rem;
        font-size: 0.9rem;
        font-weight: 500;

        span {
          font-size: 1.4rem;
        }
      }
    }
  }
}
