h1 {
  font-size: 1.75rem;
}

.boardsContainer {
  display: grid;
  gap: 1rem;

  // grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));

  // grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));

  grid-template-columns: repeat(4, 1fr);

  .boardCard {
    background-color: var(--bg-secondary);
    border-radius: 8px;
    color: var(--font-secondary);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 1rem;

    max-width: 460px;

    &:hover {
      background-color: var(--bg-secondary-hover);
    }

    .boardName {
      font-size: 1.1rem;
      // font-weight: 500;
    }

    .boardDetails {
      display: flex;

      justify-content: space-between;
      margin-top: 1.25rem;

      div {
        align-items: center;
        color: var(--font-dark);
        display: flex;
        gap: 0.4rem;
        font-size: 0.9rem;
        font-weight: 500;

        span {
          font-size: 1.4rem;
          color: var(--font-dark);
        }
      }
    }
  }
}

@media (max-width: 1180px) {
  .boardsContainer {
    // grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 850px) {
  .boardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 520px) {
  .boardsContainer {
    grid-template-columns: 1fr;
  }
}
