<app-page-container>
  <app-header-justify-between>
    <h2>Your boards</h2>

    <a routerLink="/create-board" class="mainBtn">Create Board</a>
  </app-header-justify-between>

  <div class="boardsContainer">
    @for(board of boards; track board.id) {

    <div
      class="boardLink"
      [routerLink]="['/boards', `${board.id}`]"
      (click)="this.appService.setSelectedId(board.id)"
    >
      <p class="boardName">{{ board.name }}</p>

      <div class="boardDetails">
        <div>
          <p>Date Created: {{ board.date | date : "shortDate" }}</p>
        </div>

        @if(board.columnsArr) {
        <div>
          <p>Tasks: {{ tasksCount(board.columnsArr) }}</p>
        </div>
        }
      </div>
    </div>

    }
  </div>
</app-page-container>
