<div class="task" (click)="openEditTaskModal($event)">
  <div class="justifybetween">
    <div class="taskTextAndIcon">
      <!-- <button class="actionBtn" (click)="taskToggleComplete($event)">
        @if(task.isComplete) {
        <span class="material-symbols-outlined icon completeIcon">
          check_box
        </span>
        } @else {
        <span class="material-symbols-outlined icon">
          check_box_outline_blank
        </span>
        }
      </button> -->

      <app-toggle-task-complete-button
        [task]="task"
        [colId]="colId"
        [taskIdx]="taskIdx"
      />

      <p [ngClass]="task.isComplete ? 'strikethrough' : ''">
        {{ task.taskName }}
      </p>
    </div>

    <app-priority-tag [taskPriority]="task.priority" />
  </div>

  @if(task.date) {

  <div class="completeBy">
    <span class="material-symbols-outlined icon"> calendar_today </span>

    {{ task.date | date }}
  </div>
  }
</div>
