<div class="task" (click)="openEditTaskModal($event)">
  <div class="justifybetween">
    <div class="taskTextAndIcon">
      <button class="actionBtn" (click)="taskToggleComplete($event)">
        <span class="material-symbols-outlined icon completeIcon"
          >{{
            task.isComplete ? "radio_button_checked" : "radio_button_unchecked"
          }}
        </span>
      </button>

      <p [ngClass]="task.isComplete ? 'strikethrough' : ''">
        {{ task.taskName }}
      </p>
    </div>

    <app-priority-tag [taskPriority]="task.priority" />
  </div>

  @if(task.date) {

  <div class="completeBy">
    <span class="material-symbols-outlined icon"> calendar_today </span>

    {{ task.date | date }}
  </div>
  }
</div>
