.task {
  align-items: center;
  background-color: var(--bg-lighter);
  border-radius: 8px;
  color: var(--font-secondary);
  display: flex;
  justify-content: space-between;
  height: 75px;
  padding: 1rem;
  position: relative;

  .priorityActionsContainer {
    align-items: center;
    display: flex;
    gap: 1rem;
  }
}

.priorityTag {
  border: 1px solid;
  border-radius: 8px;
  padding: 6px 15px;

  p {
    font-size: 0.9rem;
    z-index: 10;
  }
}

.actionBtn {
  align-items: center;
  background-color: transparent !important;
  border-radius: 50px;
  color: var(--font-gray);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 2px;

  &:hover {
    color: var(--font-gray-hover);
  }
}

.high-priority {
  background-color: rgba(255, 77, 77, 0.25);
  color: var(--priority-high);
}

.medium-priority {
  background-color: rgba(255, 179, 66, 0.25);
  color: var(--priority-medium);
}

.low-priority {
  background-color: rgba(77, 255, 101, 0.25);
  color: var(--priority-low);
}
