.task {
  background-color: var(--bg-lighter);
  border-radius: 8px;
  color: var(--font-secondary);
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  min-height: 75px;
  padding: 1rem;
  position: relative;

  &:hover {
    background-color: var(--bg-secondary-hover);
  }
}

.justifybetween {
  gap: 0.75rem;
}

.taskTextAndIcon {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  z-index: 10;
  position: relative;

  p {
    font-size: 0.95rem;
  }

  .strikethrough {
    text-decoration: line-through;
    color: var(--font-gray);
  }
}

.completeIcon {
  color: var(--purple);

  &:hover {
    color: var(--purple-hover);
  }
}

.dueDate {
  align-items: center;
  color: var(--font-gray);
  display: flex;
  gap: 0.5rem;
  font-size: 0.85rem !important;
  font-weight: 500;

  span {
    // color: var(--font-dark);

    font-size: 1.25rem;
  }
}

.actionBtn {
  align-items: center;
  background-color: transparent !important;
  border-radius: 50px;
  color: var(--font-gray);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 2px;

  &:hover {
    color: var(--font-gray-hover);
  }
}
