<!-- <div class="dialogContainer"> -->
<header>
  <h2>Add Task</h2>
  <!-- <mat-dialog-actions> -->
  <button class="actionBtn" (click)="closeModal()">
    <span class="material-symbols-outlined closeIcon"> close </span>
  </button>
  <!-- </mat-dialog-actions> -->
</header>

<form [formGroup]="newTaskForm" (ngSubmit)="submitNewTask()">
  <div class="labelInputContainer">
    <label for="taskName">Task Name</label>
    <input
      type="text"
      id="taskName"
      name="taskName"
      [formControl]="newTaskForm.controls.taskName"
    />
  </div>

  <div class="labelInputContainer">
    <label for="prioritySelect">Priority</label>
    <select
      name="prioritySelect"
      id="prioritySelect"
      [formControl]="newTaskForm.controls.priority"
    >
      <option value="High">High</option>
      <option value="Medium">Medium</option>
      <option value="Low">Low</option>
    </select>
  </div>

  <div class="labelInputContainer">
    <label for="targetDate">Due Date</label>
    <input
      type="date"
      id="targetDate"
      name="targetDate"
      [formControl]="newTaskForm.controls.targetDate"
      value="now"
    />
  </div>
  <button class="mainBtn" [disabled]="!newTaskForm.valid">Add Task</button>
</form>
<!-- </div> -->
