<div class="siteContainer">
  <app-sidebar />

  <main>
    <header>
      <h1>{{ board()?.name }}</h1>

      <div class="boardActions">
        <button class="mainBtn" (click)="openModal()">Add Column</button>

        <button class="actionBtn" (click)="openEditBoardModal()">
          <span class="material-symbols-outlined"> more_vert </span>
        </button>
      </div>
    </header>

    <app-columns />
  </main>
</div>

<!-- have task checkbox bool
    when clicked show empty text box with task priority dropdown next to it
    below the add task button is still there and user can click again to add another task
-->
