<!-- <div class="siteContainer"> -->
<!-- <div class="siteContainer"> -->
<app-navbar />
<router-outlet />
<!-- </div> -->

<!-- <app-sidebar /> -->

<!-- <header>
  <h1>{{ board()?.name }}</h1>

  <div class="boardActions">
    <button class="mainBtn" (click)="openModal()">Add Column</button>

    <button class="actionBtn" (click)="openEditBoardModal()">
      <span class="material-symbols-outlined"> more_vert </span>
    </button>
  </div>
</header>

<app-columns /> -->
<!-- </div> -->

<!-- issue is with the grid template columns -->
<!-- issue is with the grid template columns -->
<!-- issue is with the grid template columns -->
<!-- issue is with the grid template columns -->
<!-- issue is with the grid template columns -->
<!-- issue is with the grid template columns -->
<!-- issue is with the grid template columns -->
<!-- issue is with the grid template columns -->
<!-- issue is with the grid template columns -->
<!-- issue is with the grid template columns -->
<!-- issue is with the grid template columns -->
<!-- issue is with the grid template columns -->
<!-- issue is with the grid template columns -->
<!-- issue is with the grid template columns -->
<!-- issue is with the grid template columns -->
