<header>
  <button class="actionBtn" (click)="closeModal()">
    <span class="material-symbols-outlined icon closeIcon"> close </span>
  </button>
</header>

<div class="taskDetails">
  <div class="justifybetween">
    <h2>{{ data.task.taskName }}</h2>
    <app-priority-tag
      [taskPriority]="data.task.isComplete ? 'Completed' : data.task.priority"
    />
  </div>

  @if(data.task.date) {

  <div class="dueDate">
    <span class="material-symbols-outlined icon"> calendar_today </span>

    <p>
      {{ data.task.date | date }}
    </p>
  </div>

  }
</div>

<form
  [formGroup]="editTaskForm"
  (ngSubmit)="submitEditTask()"
  id="editTaskForm"
>
  <div class="labelInputContainer">
    <label for="updatedTaskName">Taskname</label>

    <input
      type="text"
      id="updatedTaskName"
      name="updatedTaskName"
      formControlName="updatedTaskName"
    />
  </div>

  <div class="labelInputContainer">
    <label for="updatedPrioritySelect">Task Priority</label>
    <select
      id="updatedPrioritySelect"
      name="updatedPrioritySelect"
      formControlName="updatedPrioritySelect"
    >
      <option value="High">High</option>
      <option value="Medium">Medium</option>
      <option value="Low">Low</option>
    </select>
  </div>

  <div class="labelInputContainer">
    <label for="updatedTargetDate">Target Date</label>

    <input
      type="date"
      id="updatedTargetDate"
      name="updatedTargetDate"
      formControlName="updatedTargetDate"
    />
  </div>

  <div class="formButtonsContainer">
    <button class="mainBtn" [disabled]="!editTaskForm.valid || !hasChanges">
      Update
    </button>
    <button class="deleteBtn" (click)="deleteTask()" type="button">
      Delete
    </button>
  </div>
</form>
