.taskDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .justifybetween {
    // align-items: center;
    // display: flex;
    // justify-content: space-between;

    gap: 0.75rem;
  }
}

#editTaskForm {
  margin-top: 4rem !important;
}

.dueDate {
  align-items: center;
  display: flex;
  color: var(--font-gray);
  gap: 0.5rem;
  font-weight: 500;
}

.formButtonsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-top: 1rem;
  width: 100%;

  button {
    width: 100%;
  }
}
