.taskDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  div:nth-of-type(1) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

#editTaskForm {
  margin-top: 4rem !important;
}

.dueDate {
  align-items: center;
  display: flex;
  color: var(--font-gray);
  gap: 0.5rem;
  font-weight: 500;
}

.editTaskForm label {
  color: red;
}

.formButtonsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-top: 1rem;
  width: 100%;

  button {
    width: 100%;
  }
}

.deleteTask {
  // background-color: var(--priority-high);
  // background-color: blue;
}
