* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  // colors
  --bg-main: #191919;
  --bg-secondary: #1f1f1f;
  --bg-secondary-hover: #292929;
  --bg-lighter: #262626;
  --border: #393939;

  --border-full: 1px solid var(--border);

  --bg-radius: 10px;

  --font-main: #dedede;
  --font-main-hover: #e8e8e8;

  --font-secondary: #c9c9c9;
  --font-gray: #949494;
  --font-gray-hover: #a7a7a7;
  --font-red: #ff4d4d;
  --font-green: #64ec42;

  --purple: #7364e5;
  --purple-hover: #7666ed;

  --priority-high: #ff4d4d;
  --priority-medium: #ffb342;
  --priority-low: #4dff65;

  --complete: rgb(80, 217, 255);
  --complete-opacity: rgba(80, 217, 255, 0.25);

  --border-radius: 15px;
  --scale-hover: 1.01;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg-main);
  color: var(--font-main);
  font-family: "Helvetica", sans-serif !important;
  height: 100vh;
  width: 100vw;

  overflow-x: hidden;
}

// reset styles
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  font: inherit;
}

input,
select {
  background-color: var(--bg-secondary);
  border-radius: 3px;
  border: none;
  color: var(--font-secondary);
  font-size: 1rem;
  font: inherit;
  padding-left: 1rem;
  height: 50px;
}

input[type="date"] {
  color-scheme: dark;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 0.5rem;
  opacity: 0.6;
  // filter: invert(0.9);
}

select {
  cursor: pointer;
}

.actionBtn {
  align-items: center;
  background-color: transparent !important;
  border-radius: 50px;
  color: var(--font-gray);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 2px;

  &:hover {
    color: var(--font-gray-hover);
  }
}

.icon {
  background-color: transparent !important;
  color: var(--font-gray);
  cursor: pointer;
  padding: 2px;
}

.closeIcon {
  cursor: pointer;
}

.ellipsisIcon {
  background-color: transparent;
  color: var(--font-gray);
  cursor: pointer;
  padding: 2px;
}

.mainBtn {
  align-items: center;
  background-color: var(--purple);
  border-radius: var(--bg-radius);
  color: var(--font-main);
  cursor: pointer;
  display: flex;
  font-size: 0.95rem;
  height: 50px;
  justify-content: center;
  padding: 0 0.85rem;

  &:hover {
    background-color: var(--purple-hover);
  }
}

.mainBtn:disabled {
  background-color: rgb(160, 160, 160);
  color: rgb(134, 134, 134);
  cursor: not-allowed;

  &:hover {
    background-color: rgb(160, 160, 160);
    color: rgb(134, 134, 134);
  }
}

input::placeholder {
  color: red !important;
}

.deleteBtn {
  background-color: var(--font-red);
  border-radius: var(--bg-radius);

  color: var(--font-main);
  height: 50px;
  font-size: 0.95rem;
}

.dialogContainer {
  background-color: var(--bg-main) !important;
  border: none;
  border-radius: 15px;
  color: var(--font-main);
  display: flex;
  flex-direction: column;
  position: absolute;
  // min-width: 400px;
  // width: 25%;
  // width: 600px !important;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.25);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    width: 100%;
  }

  header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    button {
      background-color: var(--font-main);
      align-items: center;
      background-color: transparent !important;
      border-radius: 50px;
      color: var(--font-gray);
      cursor: pointer;
      display: flex;
      justify-content: center;
      padding: 2px;

      &:hover {
        color: var(--font-gray-hover);
      }
    }
  }
}

.justifybetween {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.sideDialog {
  background-color: var(--bg-main) !important;
  height: 100%;
  display: flex;
  position: absolute;
  right: 0 !important;
  width: 450px;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.25);
  }

  header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    margin-bottom: 2rem;

    button {
      background-color: var(--font-main);
      align-items: center;
      background-color: transparent !important;
      border-radius: 50px;
      color: var(--font-gray);
      cursor: pointer;
      display: flex;
      justify-content: center;
      padding: 2px;

      &:hover {
        color: var(--font-gray-hover);
      }
    }
  }

  form {
    background-color: transparent !important;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }
}

.ng-invalid.ng-touched.ng-dirty {
  background-color: #fbdcd6;
  border-color: #f84e2c;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-color: transparent;
  padding: 2rem;
  width: 100%;
}

.mat-mdc-dialog-surface,
.mdc-dialog__surface {
  border-radius: 0 !important;
  width: 100%;
}

.mat-mdc-dialog-inner-container {
  max-width: 650px;
  min-width: 200px !important;
  // width: 100%;
}

.cdk-overlay-pane.mat-mdc-dialog-panel {
  // max-width: 600px !important;
  // min-width: 350px !important;

  // width: 20%;

  width: 100%;
}

.labelInputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.9rem;

  label {
    color: var(--font-gray);
  }

  input {
    background-color: var(--bg-secondary) !important;
    border-radius: 3px !important;
    height: 50px !important;
    font-size: 0.95rem;
  }
}
