.columnsContainer,
.columnsContainer-single {
  display: grid;
  gap: 1.5rem;
  // min-width: 100vw;
  // width: fit-content;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.columnsContainer {
  // grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  // display: flex;
}

.columnsContainer-single {
  // grid-template-columns: repeat(auto-fit, minmax(350px, 475px));
}

.actionBtn {
  align-items: center;
  background-color: transparent !important;
  border-radius: 50px;
  color: var(--font-gray);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 2px;

  &:hover {
    color: var(--font-gray-hover);
  }
}
